<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
 
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        
        <!-- FOR Local connection 
        <property name="connection.url">jdbc:mysql://localhost:3306/fpl</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>-->        
        
        <!-- FOR Stage connection
        <property name="connection.url">jdbc:mysql://198.50.136.172:3306/justthin_stage</property>
        <property name="connection.username">justthin_stage</property>
        <property name="connection.password">justthin_stage</property>-->
        
        <!-- FOR Live connection
        <property name="connection.url">jdbc:mysql://198.50.136.172:3306/justthin_live</property>
        <property name="connection.username">justthin_live</property>
        <property name="connection.password">justthin_live</property>-->
 
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property> 
 
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Disable the second-level cache  -->
        <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
 
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <!--<property name="show_sql">true</property>-->
        
       <!--  TO FIX CONNECTION TIMEOUT after 8 hours of inactivity -->
 		<property name="spring.datasource.testOnBorrow">true</property>
        <property name="spring.datasource.validationQuery">SELECT 1</property>
        <property name="maxActive">-1</property>
        <property name="minEvictableIdleTimeMillis">1800000</property>
        <property name="timeBetweenEvictionRunsMillis">1800000</property>
        <property name="numTestsPerEvictionRun">3</property>
        <property name="testOnBorrow">true</property>
        <property name="testWhileIdle">true</property>
        <property name="testOnReturn">true</property>
        <property name="validationQuery">SELECT 1</property>
      
      
<!-- <property name="c3p0.min_size">5</property>
<property name="c3p0.max_size">20</property>
<property name="c3p0.timeout">1800</property>
<property name="c3p0.max_statements">50</property> -->

      
        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">create</property>  -->
 
 <!-- The mapping information of entities -->
        <!-- <mapping class="com.event.tracker.model.entity.Address"/> -->	
        <mapping class="com.sportmgmt.model.entity.User"/>
        <mapping class="com.sportmgmt.model.entity.CountryStateCity"/>
        <mapping class="com.sportmgmt.model.entity.Game"/>
        <mapping class="com.sportmgmt.model.entity.Club"/>
        <mapping class="com.sportmgmt.model.entity.Player"/>
        <mapping class="com.sportmgmt.model.entity.GameClubPlayer"/>
        <mapping class="com.sportmgmt.model.entity.UserPlayer"/>
        <mapping class="com.sportmgmt.model.entity.LeaguePlan"/>
        <mapping class="com.sportmgmt.model.entity.PlanDiscount"/>
        <mapping class="com.sportmgmt.model.entity.UserPayment"/>
        <mapping class="com.sportmgmt.model.entity.UserPlan"/>
        <mapping class="com.sportmgmt.model.entity.GameWeek"/>
        <mapping class="com.sportmgmt.model.entity.Match"/>
        <mapping class="com.sportmgmt.model.entity.Point"/>
        <mapping class="com.sportmgmt.model.entity.UserGame"/>
        <mapping class="com.sportmgmt.model.entity.PaymentExt"/>
        <mapping class="com.sportmgmt.model.entity.PlayerGroup"/>
        <mapping class="com.sportmgmt.model.entity.PlayerGroupPlayer"/>
        <mapping class="com.sportmgmt.model.entity.GameWeekReport"/>
        <mapping class="com.sportmgmt.model.entity.Coupon"/>
        <mapping class="com.sportmgmt.model.entity.PointCategory"/>
        <mapping class="com.sportmgmt.model.entity.UsedCoupon"/>
        <mapping class="com.sportmgmt.model.entity.Offer"/>
        <mapping class="com.sportmgmt.model.entity.PlayerPoint"/>
        <mapping class="com.sportmgmt.model.entity.UserPoint"/>
        <mapping class="com.sportmgmt.model.entity.GameWeekPlayerReport"/>
        
         
         <!--  Dream Eleven mapping starts -->
         <mapping class="com.sportmgmt.dreamEleven.model.entity.UserPlayer"/>
         <mapping class="com.sportmgmt.dreamEleven.model.entity.GameWeekPlan"/>
         <mapping class="com.sportmgmt.dreamEleven.model.entity.UserPayment"/>
         <mapping class="com.sportmgmt.dreamEleven.model.entity.PaymentExt"/>
         <mapping class="com.sportmgmt.dreamEleven.model.entity.DeGameWeekReport"/>
         <!--  Dream Eleven mapping ends -->
         
          <!--  Vendor mapping starts -->
         <mapping class="com.sportmgmt.vendor.model.entity.V_Article"/>
         <mapping class="com.sportmgmt.vendor.model.entity.V_Position"/>
         <mapping class="com.sportmgmt.vendor.model.entity.V_Position_Price"/>
         <mapping class="com.sportmgmt.vendor.model.entity.Vendor"/> 
         <!--  Vendor mapping ends -->
   </session-factory>
</hibernate-configuration>
